* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a {
    color: black;
}


/* ------------------------------------------------ INDEX.HTML --------------------------------------------------- */

/* barra de navegacion  */


.bg-primary {
    background-image: linear-gradient(to right, #f97800, #ffaa00, #ffd900) !important;

}



/* botones del navbar (hovers) y personalizacion de botones*/
.nav-link {
    color: rgba(255, 253, 253, 0.746);
    font-weight: 500;
    font-size: large;
}

.nav-link:hover {
    font-weight: 700;
    background-color: #ffffff32;
    color: rgb(0, 0, 0);

}

.navbar-toggler {
   border: black solid 1px;
}

/* boton inicio */

.active {
    color: rgba(255, 253, 253, 0.746) !important;
    font-weight: 700;
    font-size: large;
}

.active:hover {
    color: rgb(0, 0, 0) !important;
    font-weight: 700;
    background-color: #ffffff32;
}

/* container main index.html */


/* titulo h1  */
.titulos {
    font-style: italic;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    padding: 15px;
    color: black;
    margin: 0px;
    text-decoration: underline;
}


/*------------------------- cards de index.html ---------------------------- */

.card {

    margin-bottom: 1rem;

}

.card-body {
    background-image: linear-gradient(to right, #f97800, #ffaa00, #ffd900);

}

.card-title {
    color: black;
    text-align: center;
    background-image: linear-gradient(to right, #f97800, #ffaa00, #ffd900);

}

.card-text {
    text-align: center;
    color: black;

}

/* ---------- card images -------------- */

.imgEscuela {
    max-height: 214.84px;
}

/* ---------------- card buttons ---------- */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.btn:hover {
    color: #ffc402;
}

/*--------------------------------------------- footer all htmls ----------------------------------------------------*/

.footer {
    /*  display: flex; */
    background-image: linear-gradient(to right, #f97800, #ffaa00, #ffd900);
    padding-bottom: 1rem;
}

.menuFooter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 6rem;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logos {
    border-radius: 100%;
}

.social {
    margin: 0px 10px 10px 10px;
}

.social:hover {
    transform: scale(1.2, 1.2);

}

.logos:hover {
    transform: scale(1.1, 1.1);

}

/* ------------------------------------------------ NOSOTROS.HTML --------------------------------------------------- */

.contenedorPrincipal {
    display: flex ;
    align-items: center;
    flex-direction: column;
}

.parrafos {
    text-align: center;
    margin: 15px;
    color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------ UBICACION.HTML --------------------------------------------------- */

.containerMap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* ------------------------------------------------ PREGUNTAS.HTML --------------------------------------------------- */

.containerFaqs {
    padding: 2rem;
}
/* --------personalizacion de acordeon---------- */
.accordion-body {
    background-color: rgba(0, 195, 255, 0.444);
    text-align: center;
    font-size: medium;
    font-weight: 500;
}




.accordion-button:not(collapsed) {
    color: black;
    background-image: linear-gradient(to right, #f97800, #ffaa00, #ffd900);
}

.accordion-button:hover{
    color: black;
    font-weight: 600;
    font-size: medium;
}

.accordion-button:focus{
    color: black;
    font-weight: 700;
    font-size: large;
}

/* ------------------------------------------------ CONTACTO.HTML --------------------------------------------------- */






